.appWrapper {
    display: grid;
    grid-template-areas: 'sidebar' 'main' 'footer';
    font-size: 14px;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    width: 100%;
}

.main {
    grid-area: main;
    width: 100%;
    padding-inline-start: 10px;
}

.noticeContainer {
    max-width: 340px;

    margin: 16px 0;
    align-self: center;
}

@media (min-width: 768px) {
    .appWrapper {
        display: grid;
        grid-template-areas: 'sidebar main' 'footer footer';
        font-size: 14px;
        height: 100%;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr auto;
        min-height: 1000px;
    }

    .noticeContainer {
        max-width: 768px;
    }
}

:global(h2),
:global(h3) {
    margin: 8px;
    margin-inline-start: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-items: center;
    gap: 6px;
    background-color: rgb(44, 102, 147);
    padding: 16px;
    color: white;
}

.footer a,
.footer a:visited,
.footer a:active,
.footer a:link,
.footer a:focus {
    color: white;
}
